body {
    background: darkgreen;
    color: black;
    font-family: "Courier New", sans-serif;
    font-size: 16px;
    font-weight: bold;
}
#table {
    float: left;
    width: 450px;
    margin: 20px;
}
#player {
    float: left;
    width: 80px;
    background: lightgray;
}
#change {
    float: left;
    width: 60px;
    margin: 0 10px;
}
#board {
    list-style: none;
    margin: 0 0 8px 0;
    padding: 10px;
    display: flex;
}
#ranking {
    width: 220px;
    margin: 20px;
    background: green;
}
#board li {
    background: white;
    width: 69px;
    height: 94px;
    margin: 8px;
    cursor: pointer;
    box-shadow: 4px 4px gray;
}
#timer {
    margin: 0 0 8px 60%;
    width: 150px;
    background: lightgray;
    font-size: 20px;
    text-align: right;
    box-shadow: inset 3px 3px gray, inset -3px -3px white;
}
#msg {
    background: lightgray;
    font-size: 18px;
    text-align: left;
    box-shadow: inset 3px 3px gray, inset -3px -3px white;
}
#btn {
    margin: 4px auto 20px auto;
    width: 100px;
    cursor: pointer;
    user-select: none;
    background: violet;
    padding: 8px;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 0 0 gray;
}
#btn[disabled="true"] {
    cursor: default;
    opacity: 0.5;
}
#btn:active {
    margin-top: 12px;
    margin-bottom: 16px;
    box-shadow: none;
}
